/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.game-board
  position absolute
  top 0
  bottom 0
  left 25%
  right 0
  overflow auto

.game-board
  .line
  .tile
    height 64px
  .tile
    width 64px
    vertical-align top
    border 1px solid rgba(#eee, 0.25)
    &:hover
      border 1px solid rgba(#eee, 1)
    .floor
      border-left none
      border-right none
      padding 0 11px
      width 64px
      background-color transparent
      vertical-align bottom
      .unit
        display inline-block
        margin 2px 1px
        background-color white
        border-radius 2px
    &.residential
    &.commercial
    &.industrial
    &.education
    &.public
      border none
    &.residential
      padding-top 2px
      box-shadow 2px 2px 4px rgba(#060, 0.25)
      border 1px solid rgba(#090, 0.25)
      .floor
        height 12px
        .unit
          width 14px
          height 6px
          &:last-child
            margin-left 10px
          &.master
            width 41px
            margin-left 0
    &.commercial
      box-shadow 2px 2px 4px rgba(#006, 0.25)
      border 1px solid rgba(#009, 0.25)
      .floor
        height 7px
        .unit
          width 7px
          height 3px
          margin-left 3px
          &:first-child
            margin-left 0
          &.manager
            width 18px
          &.executive
            width 40px
    &.industrial
      box-shadow 2px 2px 4px rgba(#660, 0.25)
      border 1px solid rgba(#990, 0.25)
      .floor
        height 7px
        .unit
          width 13px
          height 3px
          margin 2px 0
          &.cog
            border-radius 0
            margin-left 1px
            &:first-child
              margin-left 0
              width 14px
          &:first-child
            border-top-left-radius 2px
            border-bottom-left-radius 2px
          &:last-child
            border-top-right-radius 2px
            border-bottom-right-radius 2px
          &.foreman
            width 42px
    &.education
      box-shadow 2px 2px 4px rgba(#303, 0.25)
      border 1px solid rgba(#606, 0.25)
      .floor
        height 17px
        .unit
          width 5px
          height 5px
          margin-left 3px
          margin-top 9px
          &:first-child
            margin-left 0
    &.public
      box-shadow 2px 2px 4px rgba(#334, 0.25)
      border 1px solid rgba(#667, 0.25)
      .floor
        height 17px
        .unit
          width 5px
          height 5px
          margin-left 3px
          margin-top 14px
          &:first-child
            margin-left 0

.menu
  .stats
    .fa
      margin-right 10px
  .tiles
    margin-top 20px
  .tile
    border 1px solid white
    margin-bottom 3px
    width 50px
    height 50px
    .background
      color rgba(black, 0.5)
    .foreground
      color white

.industrial .line
  width 210px
  border-left 10px solid #333
  border-right 10px solid #333
  background-color #333
  padding-top 7px
  .worker
    width 63px
    display inline-block
    background-color: white
    color #333
    border-radius 0
    text-align center
    border-top none
    border-bottom none
    padding 6px 12px
    vertical-align bottom
    border none
    &:first-child
      border-top-left-radius 4px
      border-bottom-left-radius 4px
    &:last-child
      border-top-right-radius 4px
      border-bottom-right-radius 4px
    .fa.fa-wrench + .fa
      margin-left 5px
    &.foreman
      width 189px

.floor
  width 165px
  border-left 10px solid #333
  border-right 10px solid #333
  background-color #333

  .office
    display inline-block
    border 6.5px solid #333
    border-radius 10px
    background-color white
    vertical-align bottom
    width 36.25px
    height 40px
    padding-left 0
    padding-right 0
    &.executive
      width 145px
    &.manager
      width 72.5px

    i.fa
      vertical-align top
      padding-top 1px

.education
.public
  .level h5
    .fa-graduation-cap
      margin-left 10px
      margin-right 5px
    .fa-user
      margin-left 2px
      margin-right 5px
  .student
  .service
    display inline-block
    width 55px
    text-align center
    border none
    color #333
    padding 6px 12px
    .fa + .fa
      margin-left 10px

.single-house-top
.single-house-bottom
  width 201px
  height 120px
.office-complex-top
  height 30px
.office-complex-bottom
  height 80px
.office-complex-top
.office-complex-bottom
  width 165px
.manufacturing-plant-top
  height 140px
.manufacturing-plant-bottom
  height 30px
.single-house-top
.single-house-bottom
.office-complex-top
.office-complex-bottom
.manufacturing-plant-top
.manufacturing-plant-bottom
  padding-left 0
  padding-right 0
  font-size 15em
  overflow hidden
  margin-bottom -5px
.single-house-bottom:before
  margin-top -130px
.office-complex-bottom:before
  margin-top -140px
.manufacturing-plant-bottom:before
  margin-top -180px
.single-house-bottom:before
.office-complex-bottom:before
.manufacturing-plant-bottom:before
  display block
.beds
  margin-left 30px
  width 135px
  box-sizing border-box
  .bed
    display inline-block
    vertical-align bottom
    border-left 5px solid #333
    border-radius 0
    border-right 5px solid #333
    border-top 2px solid #333
    border-bottom 5px solid #333
    height 45px
    padding 0
    text-align left
    line-height 2.9em
    color #333
    &.standard
      width 67.5px
    &.master
      width 135px
    .fa.fa-bed
      vertical-align bottom
      margin-bottom -2px
      margin-left 1px
      font-size 1.7em
    .fa.fa-minus
    .fa.fa-plus
      margin-left 9px
      font-size 1.5em
      line-height 1em
      vertical-align top
      margin-top 3px

.menu
  .tile
    padding-top 9px
    text-align center

.menu
.grid
  .tile
    display inline-block
    color rgba(white, 0.9)
    &:hover
      cursor pointer
    &.residential
      background-color #3c3
    &.commercial
      background-color #66f
    &.industrial
      background-color #cc3
    &.education
      background-color #858
    &.public
      background-color #aab

.grid
  width 3264px

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
